@import "helpers/padding_margin";
@import "public/bower_components/materialize/sass/materialize";


$classcolors: (
        "sa": color('light-blue', 'accent-3'),
        "sal": color('light-blue', 'accent-2'),
        "sall": color('light-blue', 'accent-1'),
        "ma": color('pink', 'accent-3'),
        "mal": color('pink', 'accent-2'),
        "mall": color('pink', 'accent-1'),
        "bg": color('blue-grey', 'darken-4'),
        "bgl": color('blue-grey', 'darken-3'),
        "bgll": color('blue-grey', 'darken-2'),
        "valid":color('green', 'accent-3'),
        "invalid":color('red', 'accent-3'),
        "fg": color('grey', 'lighten-3'),
);

.transition02s {
  transition: all 2s;
}

@each $key, $color in $classcolors {
  .#{$key} {
    background: $color;
  }

  .#{$key}h:hover {
    @extend .transition02s;
    background: $color;
  }

  .t#{$key} {
    color: $color;
  }

  .t#{$key}h:hover {
    @extend .transition02s;
    color: $color;
  }

  .t#{$key}g5 {
    text-shadow: 0 0 5px $color;
  }

  .t#{$key}g10 {
    text-shadow: 0 0 10px $color;
  }

  .t#{$key}g20 {
    transition: text-shadow 0.2s;
    text-shadow: 0 0 20px $color;
  }

  .t#{$key}g5h,.t#{$key}g10h,.t#{$key}g20h{
    @extend .transition02s;
    transition: text-shadow 0.2s;
  }

  .t#{$key}g5h:hover {
    transition: text-shadow 0.2s;
    text-shadow: 0 0 5px $color;
  }

  .t#{$key}g10h:hover {
    transition: text-shadow 0.2s;
    text-shadow: 0 0 10px $color;
  }

  .t#{$key}g20h:hover {
    transition: text-shadow 0.2s;
    text-shadow: 0 0 20px $color;
  }
}

.side-nav li.active {
  color: map-get($classcolors, mall);
  background-color: map-get($classcolors, bgl);
}

.side-nav.fixed {
  background-color: map-get($classcolors, bg);
}

.side-nav.fixed .collapsible-body {
  background-color: map-get($classcolors, bgl);
}

.side-nav.fixed a {
  color: map-get($classcolors, fg);
}

.side-nav.fixed a.active {
  color: map-get($classcolors, mal);
}

.side-nav.fixed li:hover {
  background-color: map-get($classcolors, bgll);
}

/* label color */
.input-field label {
  color: map-get($classcolors, fg);
}

/* label focus color */
.input-field input:focus + label {
  color: map-get($classcolors, mal) !important;
}

/* label underline focus color */
.input-field input:focus {
  border-bottom: 1px solid map-get($classcolors, mal) !important;
  box-shadow: 0 1px 0 0 map-get($classcolors, mal) !important;
}

/* valid color */
.input-field input.valid {
  border-bottom: 1px solid map-get($classcolors, valid) !important;
  box-shadow: 0 1px 0 0 map-get($classcolors, valid) !important;
}

/* invalid color */
.input-field input.invalid {
  border-bottom: 1px solid map-get($classcolors, invalid) !important;
  box-shadow: 0 1px 0 0 map-get($classcolors, invalid) !important;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: map-get($classcolors, mal);
}