@import "helpers/padding_margin";
@import "public/bower_components/materialize/sass/materialize";

$classcolors: (
        "ma": color('pink', 'darken-3'),
        "sa": color('deep-purple', 'accent-4'),
        "bg": color('blue-grey', 'darken-4'),
        "bgl": color('blue-grey', 'darken-3'),
        "bgll": color('blue-grey', 'darken-2'),
        "fg": color('grey', 'lighten-3'),
);

@each $key, $color in $classcolors {
  .#{$key} {
    background: $color;
  }
  .#{$key}h:hover {
    background: $color;
  }
  .t#{$key} {
    color: $color;
  }
  .t#{$key}h:hover {
    color: $color;
  }
}

.side-nav.fixed a {
  color:map-get($classcolors, fg);
}

.side-nav.fixed a:hover {
  color:map-get($classcolors, ma);
}