main, header, footer {
    padding-left: 240px;
}

@media only screen and (max-width: 992px) {
    main, header, footer {
        padding-left: 0;
    }
}

html, body, main {
    height: 100%;
    width: 100%;
}

.logo {
    height: 100px;
    border-bottom: solid #F0F0F0 thin;
}

.logo img {
    height: 80px;
}

ul.side-nav.fixed {
    overflow: hidden;
}

ul.side-nav.fixed li {
    line-height: 44px;
}

ul.side-nav.fixed li:hover, ul.side-nav.fixed li.active {
}

ul.side-nav.fixed li a {
    font-size: 13px;
    line-height: 44px;
    height: 44px;
}

ul.side-nav.fixed ul.collapsible-accordion {
}

ul.side-nav.fixed:hover {
    overflow-y: auto;
}

.glow {
    transition: all 0.3s ease-in;
    text-shadow: none;
}

.glow:hover {
    text-shadow: 0 0 20px white;
}

.sign-up {
    height: 62px;
    line-height: 36px;
}

.parallax-content-wrapper {
    position: absolute;
    top: 0;
}

.parallax-container {
    height: 500px;
}

.parallax-content {
    position: relative;
    height: 100%;
    width: 100%;
}

.parallax-content-wrapper {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.fill {
    height: 100%;
    width: 100%;
}

.mgn-10-bot {

}


