.minimal-form {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.minimal-form > form {
    position: relative;
    transition: all 0.2s linear;
}

.minimal-form-button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.minimal-form-progress-container {
    width: 100%;
    height: 3px;
}

.minimal-form-progress {
    width: 0;
    height: 3px;
    border-radius: 1px;
    transition: width 0.2s;
}

.minimal-form-questions {
    width: 100%;
    text-align: right;
}

.minimal-form-current {
    display: block !important;
    visibility: visible !important;
    position: relative !important;
    opacity: 1 !important;
    transition: opacity 0.2s linear !important;
}

.minimal-form-hidden {
    visibility: hidden !important;
    position: absolute !important;
    opacity: 0 !important;
    transition: opacity 0.2s linear !important;
}

.minimal-form-hiding {
    opacity: 0;
    transition: opacity 0.2s linear;
}

.minimal-form-end {
    display:none;
}